In [1]:
import pandas as pd
import seaborn as sns
import os


from sklearn.model_selection import train_test_split

In [2]:
transforme_2021 = pd.read_parquet("./transformed_data/transformed_2021-12.parquet")
transforme_2020 = pd.read_parquet("./transformed_data/transformed_2020-12.parquet")
transforme_2019 = pd.read_parquet("./transformed_data/transformed_2019-12.parquet")
transforme_2018 = pd.read_parquet("./transformed_data/transformed_2018-12.parquet")
transforme_2017 = pd.read_parquet("./transformed_data/transformed_2017-12.parquet")

In [3]:
transforme_2017.columns

Index(['VendorID', 'passenger_count', 'trip_distance', 'RatecodeID',
       'store_and_fwd_flag', 'PULocationID', 'DOLocationID', 'payment_type',
       'tolls_amount', 'trip_duration_minutes', 'is_weekend', 'weekday',
       'is_business_hours', 'time_of_day', 'year'],
      dtype='object')

In [4]:
df = pd.concat([transforme_2018,transforme_2017,transforme_2019,transforme_2020,transforme_2021])

In [5]:
target = df.pop('trip_duration_minutes')
target

4003682    16.883333
4003683    25.383333
6007597     4.600000
6007598     5.133333
6007599    10.466667
             ...
2752231    29.833333
2752254    11.333333
2752280     4.683333
2752326    28.033333
2752338     4.533333
Name: trip_duration_minutes, Length: 1660939, dtype: float64

In [6]:
df.columns

Index(['VendorID', 'passenger_count', 'trip_distance', 'RatecodeID',
       'store_and_fwd_flag', 'PULocationID', 'DOLocationID', 'payment_type',
       'tolls_amount', 'is_weekend', 'weekday', 'is_business_hours',
       'time_of_day', 'year'],
      dtype='object')

In [7]:
X_train, X_test, y_train, y_test = train_test_split(df, target, test_size=0.33, shuffle=True, random_state=11)

In [8]:
X_test.to_parquet('./test_data/test_dataset.parquet')

In [9]:
y_test.to_csv('./test_data/test_target.csv')

In [10]:
X_train.to_parquet('./train_data/train_dataset.parquet')

In [15]:
y_train.to_csv('./train_data/train_target.csv')

In [14]:
pd.concat([X_train,y_train],axis=1)

,VendorID,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,tolls_amount,is_weekend,weekday,is_business_hours,time_of_day,year,trip_duration_minutes
5901255,1,2.0,1.40,1.0,N,162,234,1,1.0,False,Thursday,True,Afternoon,2019,7.650000
5939541,2,1.0,1.06,1.0,N,239,151,1,1.0,False,Thursday,True,Afternoon,2019,6.783333
6903299,2,5.0,1.51,1.0,N,229,164,1,1.0,False,Tuesday,True,Evening,2018,12.283333
7712775,2,1.0,1.52,1.0,N,263,140,2,1.0,True,Sunday,True,Afternoon,2017,6.416667
7951925,1,1.0,16.40,2.0,N,43,132,2,1.0,False,Monday,True,Evening,2017,32.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5966793,2,3.0,1.48,1.0,N,236,238,2,1.0,False,Thursday,False,Evening,2019,5.750000
5713614,1,1.0,1.50,1.0,N,233,107,1,1.0,False,Tuesday,True,Evening,2019,6.866667
5981749,2,1.0,2.43,1.0,N,239,50,2,1.0,False,Thursday,False,Night,2019,6.683333
7899830,1,1.0,4.40,1.0,N,186,238,1,1.0,False,Monday,True,Afternoon,2017,12.400000
7052158,2,5.0,0.93,1.0,N,142,239,1,1.0,False,Wednesday,True,Evening,2018,5.216667